<div class="col-sm-12 d-sm-none">
    <img src={{article.post.image}} style="object-fit: cover;" class="img-fluid" alt="Responsive image">
</div>
<section class="offset-lg-2 col-lg-7 offset-xl-2 col-xl-7">
    <h1>{{article.post.title}}</h1>
    <h6>{{article.post.standfirst}}</h6>
    <p>{{formatDate article.post.date 'dddd D MMMM YYYY HH:mm a'}}</p>
</section>
<section class="px-lg-5 px-md-1 row">
    <div class="col-lg-8 col-md-12">
        <div class="col-lg-12 d-none d-md-block">
            <img src={{article.post.image}} style="object-fit: cover;" class="img-fluid" alt="Responsive image">
        </div>