<div class="col-sm-12 d-sm-none">
    <img src={{article.post.image}} style="object-fit: cover;" class="img-fluid" alt="The Image for article cover">
</div>
<section class="offset-lg-2 col-lg-7 offset-xl-2 col-xl-7">
    <h1>{{article.post.title}}</h1>
    <h6>{{article.post.standfirst}}</h6>
    <p>{{formatDate article.post.date 'dddd D MMMM YYYY HH:mm a'}}</p>
</section>
<section class="px-lg-5 px-md-1 row">
    <div class="col-lg-8 col-md-12">
        <div class="col-lg-12 d-none d-md-block">
            <img src={{article.post.image}} style="object-fit: cover;" class="img-fluid" alt="The Image for article cover">
        </div>
        <div class=" offset-lg-2 col-lg-10 ">
            {{{article.post.body}}}
            <div class="row px-4 justify-content-between border-top border-bottom py-4 ">
                {{!-- <div class="col-lg-4 col-md-4"> --}}
                    <div class="row">
                        {{!-- <div class="row"> --}}
                            <p> <i class="fas fa-comment-alt"></i></p>
                            <h6 class="ml-3">5 Comments</h6>
                        </div>
                        {{!--
                    </div> --}}
                    {{!-- <div class="col-lg-3 col-md-3 ml-auto"> --}}
                        {{!-- <div class="row justify-content-end"> --}}
                            <div class="">
                                <h6>Sort: <a onclick="filterLikes()">Likes</a> | <a onclick="filterTime()">Newest</a>
                                </h6>
                            </div>
                            {{!--
                        </div> --}}
                    </div>

                    {{!-- {{#each getComments()}} --}}

                    <div id="comments">

                    </div>

                    {{!-- {{/each}} --}}
                </div>
            </div>
        {{!--</div> --}}
        
    {{!--</div> --}}

</section>

{{!-- To do - Scenario: Show associated articles --}}